.title, .list-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: #374366;
}

.title {
    margin-top: 1.5rem;
}

.list-title {
    margin-top: 0;
}

.even-section {
    background-color: #e6ecfc;
}

.skill-list {
    font-size: 1.1rem;
    margin-left: 2rem;
}

#nfcu-logo {
    max-width: 12rem;
}

#dccu-logo {
    max-width: 20rem;
}

#jmu-logo {
    max-width: 18rem;
}

#brcc-logo {
    max-width: 16rem;
}

@media screen and (max-width: 991px) {
    p {
        font-size: 2.5rem;
    }

    .mobile-padding {
        padding: 5rem;
    }

    .title, .list-title {
        font-weight: bold;
        font-size: 3rem;
        color: #374366;
    }

    .title {
        margin-top: 3rem;
    }

    .list-title {
        margin-top: 2rem;
    }

    .skill-list li {
        font-size: 2.5rem;
    }

    #nfcu-logo {
        max-width: 18rem;
    }

    #dccu-logo {
        min-width: 34rem;
    }

    #jmu-logo {
        max-width: 30rem;
    }

    #brcc-logo {
        max-width: 25rem;
    }
}