h1 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 12rem;
    font-style: normal;
    color: #48295e;
    text-shadow: 3px 3px 5px #2b2b2b;
}

button {
    width: 3rem;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.polygon {
    background-image: url(../images/staunton2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
    padding: 0;
}

.link {
    cursor: pointer;
}

.linkedin {
    background-image: url(../images/linkedin.png);
}

.github {
    background-image: url(../images/github-2.png);
}

@media screen and (max-width: 991px) {
    button {
        width: 6rem;
    }
}