body, html {
    background-color: #738575;
}

.container {
    margin-top: 10rem;
}

.blurb {
    color: #000000;
    font-size: 2.5rem;
    text-align: center;
}

.blue-period {
    color: #374366;
}

.typewriter {
    white-space: nowrap;           /* prevent wrapping */
    overflow: hidden;              /* hide overflow */
    border-right: 3px solid #000000; /* cursor effect */
    width: 0;                      /* start hidden */
    font-size: 12rem;
    letter-spacing: .75rem;
    color: #e6ecfc;
    font-weight: 700;
    animation: typing 1s steps(10, end) forwards, /* typing letters */
                blink 0.7s step-end infinite;      /* blinking cursor */
}

/* Typewriter animation */
@keyframes typing {
    from { width: 0; }
    to   { width: 5ch; }  /* number of characters */
}

/* Cursor blink */
@keyframes blink {
    50% { border-right-color: transparent; }
}

@media screen and (max-width: 991px) {
    .blurb {
        font-size: 3.5rem;
    }

    .container {
        max-width: 850px !important;
    }
}