html, body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style:normal;
    color: #2b2b2b;
    font-size: larger;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh !important;
}

.navbar {
    top: 0 !important;
    left: 0 !important;
    position: sticky;
    background-color: #180526;
    font-size: large ;
}

.nav-item:hover{
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: .15rem;
    text-underline-offset: 5px;
}

.nav-link {
    color: #ffffff;
    font-weight: 400;
}

.nav-link:hover {
    color: #ffffff;
    cursor: pointer;
}

.nav-link:focus {
    color: #ffffff;
}

.navbar-toggler-icon {
    background-image: url(../images/hamburger.svg);
    width: 5rem;
    height: 5rem;
    margin: 2rem;
}

.page-footer {
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.navbar-brand {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 3rem;
    font-style: normal;
    color: #ffffff;
}

.navbar-brand:hover {
    color: #ffffff;
}

.navbar-brand:active {
    color: #ffffff;
}

.overlay {
    background-color: rgba(0, 0, 0, .3);
    z-index: 999;
}

#wrapper {
    flex: 1;
}

@media screen and (max-width: 991px) {
    p {
        font-size: 2.5em;
        padding-left: 1rem;
    }

    h1 {
        font-size: 16rem;
    }

    .navbar {
        padding: 0 !important;
        font-size: 3rem;
    }

    .navbar-toggler-icon:focus {
        background-image: url(../images/close.svg);
        width: 4rem;
        height: 4rem;
        margin: 2rem;
    }

    .navbar-nav {
        justify-content: center;
        align-items: center;
    }

    .nav-item {
        padding: 1rem;
    }

    #wrapper {
        min-width: 100%;
        padding: 2rem;
    }
}

@media screen and (max-width: 1199px) {
    h1 {
        font-size: 10rem !important;
    }
}