html, body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh !important;
}

.github, .linkedin {
    width: clamp(2rem, 3rem, 4rem);
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

a:hover {
    cursor: pointer;
}

.navbar {
    top: 0 !important;
    left: 0 !important;
    position: sticky;
    background-color: #738575;
    font-size: large;
    z-index: 999 !important;
}

.nav-link {
    color: #e6ecfc;
    font-weight: 400;
}

.nav-link:focus, .nav-link:hover {
    color: #374366;
}

.navbar-toggler-icon {
    background-image: url(../images/hamburger.svg);
    width: 5rem;
    height: 5rem;
}

.page-footer {
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.linkedin {
    background-image: url(../images/linkedin-2.png);
}

.github {
    background-image: url(../images/github-4.png);
}

#wrapper {
    flex: 1;
}

@media screen and (max-width: 991px) {
    .navbar {
        font-size: 3rem;
    }

    .navbar-toggler-icon:focus {
        background-image: url(../images/close.svg);
        width: 4rem;
        height: 4rem;
        margin: 2rem;
    }

    .navbar-nav {
        justify-content: start;
        align-items: center;
        height: 100vh;
    }

    .nav-item {
        padding: 1rem;
    }

    #wrapper {
        min-width: 100%;
    }

    .github, .linkedin {
        width: 8rem !important;
        margin-right: 1rem;
    }

    .container {
        max-width: 100%;
    }
}